{{> facebook-like }}
<h1>Register to run or walk in the {{year}} Rescue Run!</h1>
<h1>
    <button id='register' onclick='window.open("https://fundraising.active.com/event/PetPromiseRescueRun{{ year }}", "_blank");'>REGISTER</button>
</h1>
<!--
<h3>Pre-race bag pick up</h3>
<img alt="Road Runner Bag Pickup" src="images/road_runner.jpg" />
<div id='bag-pickup'>
    <div id='left'>
        Thurs, May 22<br/>
        4:00 PM - 8:00 PM
    </div>
    <div id='right'>
        Friday, May 23<br/>
        12 noon - 8:00 PM
    </div>
</div>
<div id='road-runner-address'>
    <p>
        Road Runner Sports <a href='https://www.google.com/maps/place/535+Lakeview+Plaza+Blvd/@40.112694,-83.002088,17z/data=!3m1!4b1!4m2!3m1!1s0x8838f35b6399195d:0x694f0c142e8fedd7' target="_blank">[map]</a><br />
        535 Lakeview Plaza Blvd<br />
        Worthington, OH 43085
    </p>
</div>

<h3 id="bag-pickup-encouraged">Pre-race bag pick-up is highly encouraged</h3>

<p>
    A limited number of race bags will be available for pickup at McFerson Commons Park from 8:00 am - 9:30 am on race day.
</p>

<h2>Registration Fees</h2>
<p>
    General registration: <b>$30</b> per walker/runner<br />
    The fee is waived for participants who collect at least $30.00 in pledges.
</p>

<h3>I plan to raise funds in addition to my registration fee</h3>

<p>
    Set up your own online fundraising page on <a href="http://www.firstgiving.com/rescuerun/{{ year }}">Firstgiving</a>. We encourage you to take advantage of this great fundraising tool and create a personal web page to help raise money online for the homeless animals in our community. You can also start a team fundraising page.
</p>
<p>
    You may also round up pledges by printing the <a href="documents/{{ year }}-registration-brochure.pdf" target="_blank">race brochure</a>. Invite your friends, family, neighbors, classmates, and co-workers to support PetPromise and our fight to help homeless animals throughout central Ohio by sponsoring you in the Rescue Run. Collect at least $30 in pledges and your entry fee is waived! Fundraising prizes are based on monies raised.
</p>

<h3>I am not collecting pledges, just paying for registration and running/walking myself</h3>
<p>
    You may pre-register either <a href="https://www.premierraces.com/registration/register_step1.asp?eventID=1006">online at Premier Sports</a> or by priniting the <a href="documents/{{ year }}-registration-brochure.pdf" target="_blank">race brochure</a> and mailing it on or before May 16, 2014.
</p>

<h2>Schedule of Events</h2>
<div id="details">
    Registration: 8:00 AM to 9:30 AM<br />
    Race begins: 10:00 AM<br />
    Top fundraisers announced: 12 noon
</div>
-->
