{{> facebook-like }}
<h1>Booths at the {{ year }} PetPromise Rescue Run</h1>

<img alt="Rescue Run vendor booths" src="images/vendors.jpg" width="500" />

<h2>Nonprofit animal rescue organizations</h2>
<p>
    A limited number of spaces are available for nonprofit animal rescue organizations to bring adoptable animals to meet with the public.
</p>
<div id="emphasis">
    <a href="documents/{{ year }}-npo-application.docx" name="{{ year }} Rescue Run NPO Application" target="_blank">
        {{ year }} Rescue Run Nonprofit Organization Application
    </a>
</div>

<h2>Vendors</h2>
<p>
    A limited number of spaces are available for craftspeople and independent small business owners to sell their products.
</p>
<div id="emphasis">
    <a href="documents/{{ year }}-vendor-application.doc" name="{{ year }} Rescue Run Vendor Application" target="_blank">
        {{ year }} Rescue Run Vendor Application
    </a>
</div>

<h4>Already a vendor? Help us publicize the {{ year }} PetPromise Rescue Run!</h4> 

<p>
    Please link to our event web site: <a href="http://rescuerun.com">www.rescuerun.com</a>.  Contact A.M. by voicemail at (614) 738-2149 or by email at <a href="mailto:rescuerun@petpromise.org?subject=2013 PetPromise Rescue Run">rescuerun@petpromise.org</a> if you would like flyers and/or yard signs to help promote this unique and fun event!
</p>
